
= form_for(@team, html: {class: 'form-horizontal new_team'}) do |f|
  - if @team.errors.any?
    #error_explanation
      %h2
        = pluralize(@team.errors.count, "error")
        prohibited this team from being saved:
      %ul
        - @team.errors.full_messages.each do |message|
          %li= message
  .form-group
    = f.label :name, class: 'col-lg-2 control-label'
    .col-lg-10
      = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :descripcion, class: 'col-lg-2 control-label'
    .col-lg-10
      = f.text_area_tag :descripcion, class: 'form-control'
  .form-group
    .col-lg-10.col-lg-offset-2
      = f.submit
