.container
  = form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-signin'}) do |f|
    %h2.form-signin-heading Please sign in
    = f.label :email, class: 'sr-only'
    = f.email_field :email, autofocus: true, required: true, class: 'form-control', placeholder: 'Email address'
    = f.label :password, class: 'sr-only'
    = f.password_field :password, autocomplete: "off", required: true, class: 'form-control', placeholder: 'Password'
    - if devise_mapping.rememberable?
      .checkbox
        .field
          %label
          = f.check_box :remember_me
          Remember me
    .actions
      = f.submit "Log in", class: 'btn btn-lg btn-primary btn-block'
      = render "users/shared/links"
