.row{"ng-app" => "app.exampleApp", "ng-controller" => "ExampleCtrl"}
  .col-lg-7
    .row
      .col-md-12     
        %section.panel
          .panel-heading
            %h2#navbar Calendario
          .panel-body
            #calendar{ "ui-calendar" => "uiConfig.calendar", "ng-model" => "eventSources", "calendar" => "myCalendar"}
  .col-lg-5
    .row
      .col-md-12
        .panel.tasks-widget
          .panel-heading
            %h2#navbar TodoList
            .panel-tools.pull-right
              #todolist_tools.btn-group{:style =>"display: none;"}
                %button.btn.btn-panel-tool.dropdown-toggle.glyphicon.glyphicon-cog{"aria-expanded" => "false", "data-toggle" => "dropdown"}
                %ul.dropdown-menu.pull-right{:role => "menu"}
                  %li
                    %a#edit-todolist{:href => "#"} Editar
                  %li
                    %a{:href => "#"} Eliminar
          .panel-body
            #task-list.task-content
              %ul#sortable.task-list      
            %button#btn_modal_todolist.btn.btn-info.btn-lg.btn-block{:style =>"display: none;"} Is Empty, Create new?
                      
#todolist_form.modal.fade
  .modal-dialog
    .modal-content
      %form{ :action => todolists_path, :method => 'POST'}
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
          %h4.modal-title Modal title
        .modal-body
          .form-horizontal
            .form-group
              %label.col-lg-2.control-label{ :for => 'title'} Titulo
              .col-lg-10
                %input.form-control{ :type => 'text', :autofocus => true}
            %input{:type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token}
            %input{ :type => 'hidden', :id => 'date_todolist', :name => 'todolist[date]'}
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
          %input.btn.btn-primary{:name => "commit", :type => "submit", :value => "Continuar"}/

- content_for :custom_js do
  = javascript_include_tag 'home/index'