= form_for(@todolist) do |f|
  - if @todolist.errors.any?
    #error_explanation
      %h2
        = pluralize(@todolist.errors.count, "error")
        prohibited this todolist from being saved:
      %ul
        - @todolist.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :date
    %br/
    .input-group.date
      = f.text_field :date, class: 'datepicker'
  .field
    = f.label :notes
    %br/
    = f.text_area :notes
  .field
    = f.label :result
    %br/
    = f.text_field :result
  .actions
    = f.submit
