.row
  .col-lg-5
    .row
      .col-md-12
        .panel.tasks-widget
          .panel-heading
            %h3#navbar TodoList
          .panel-body
            .task-content
              %ul#sortable.task-list

  .col-lg-1   
    %span.token-box-icon.disable{:colordata => 'purple', :tokenname => 'ticket'}
      %i.ion.ion-pricetag
      %span.count-asig 2
    %span.token-box-icon.disable{:colordata => 'red', :tokenname => 'tshirt'}
      %i.ion.ion-tshirt
      %span.count-asig 6
    %span.token-box-icon.disable{:colordata => 'green', :tokenname => 'money'}
      %i.ion.ion-cash
      %span.count-asig 4
    %span.token-box-icon.disable{:colordata => 'yellow', :tokenname => 'school'}
      %i.ion.ion-university
      %span.count-asig 3
    %span.addtoken.bg-green
      %i.ion.ion-arrow-down-b
  .col-lg-6   
    .row
      .col-md-12
        .panel.tasks-widget
          .panel-heading
            %h3#navbar Tasks
            .panel-tools.pull-right
              .btn-group
                %button.btn.btn-info.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown"}
                  Select Type Task
                  %span.caret
                %ul.dropdown-menu
                  %li
                    %a#new-task-button{:href => "javascript:void(0)"} New
                  %li
                    %a#pending-task-button{:href => "javascript:void(0)"} Pending
                  %li.divider
                  %li
                    %a{:href => "#"} Proyecto 1
                  %li
                    %a{:href => "#"} Proyecto 2
                  %li
                    %a{:href => "#"} Proyecto 3
          .panel-body
            %form#task-form.form-horizontal{ :method => 'POST', :action => tlitems_path}
              %fieldset

              %input{:name => request_forgery_protection_token.to_s, :type => "hidden", :value => form_authenticity_token}/
              %input{:name => "todolist_id", :type => "hidden", :value => @id}/
              %input{:name => "task[status]", :type => "hidden", :value => "inlist"}
              .form-group
                %label.col-lg-3.control-label{:for => "task_title"} Title
                .col-lg-9
                  %input.form-control#task_title{:name => "task[title]", :type => "text"}/
              .form-group
                %label.col-lg-3.control-label{:for => "task_description"} Description
                .col-lg-9
                  %input#task_description.form-control{:name => "task[description]", :type => "text"}/
              .form-group
                %label.col-lg-3.control-label{:for => "task_rank"} Rank
                .col-lg-9
                  %input#task_rank.form-control{:name => "task[rank]", :type => "number"}/
              .form-group
                .col-lg-9.col-lg-offset-3
                  %input#submit-task.btn.btn-primary{:name => "commit", :type => "button", :value => "Add Task"}/
            #ready-task-contend.task-content{:style =>"display: none;"}
              %ul#ready-tasks.task-list
        

- content_for :custom_js do
  = javascript_include_tag 'addtasks'