<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @todolist.date %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @todolist.notes %>
</p>

<p>
  <strong>Result:</strong>
  <%= @todolist.result %>
</p>

<%= link_to 'Edit', edit_todolist_path(@todolist) %> |
<%= link_to 'Back', todolists_path %>
