$icon-font-path: "bootstrap-sass/assets/fonts/bootstrap/";

@import "bootswatch/lumen/variables";
@import "bootstrap-sass/assets/stylesheets/bootstrap";
@import "bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "bootswatch/lumen/bootswatch";

// Bootstrap body padding for fixed navbar
body { padding-top: 60px; }

// Whatever application styles you have go last
//@import "base";


/*--------------Tasks Widget--------------*/
.strikethrough{
  text-decoration:line-through;
  color: #999;
}

.btn-check-task:hover, .btn-list-task:hover{
	color: #fff;
	background-color: #28B62C;
	border-color: #23a127;
}

.btn-drop-task:hover{
  color: #fff;
  background-color: #ff4136;
  border-color: #ff291c;
}

.task-content {
    margin-bottom: 30px;
}

.tasks-widget .task-content:after {
	clear: both;
}

.tasks-widget .task-footer  { 
	margin-top: 5px;
}

.tasks-widget .task-footer:after,
.tasks-widget .task-footer:before {
	content: "";
	display: table;
	line-height: 0;
}

.tasks-widget .task-footer:after {
	clear: both;
}

.tasks-widget  .task-list {
  padding:0;
  margin:0;
}

.tasks-widget .task-list > li {
  position:relative;
  padding:10px 5px;
  border-bottom:1px dashed #eaeaea;
}

.tasks-widget .task-list  li.last-line {
  border-bottom:none;
}

.tasks-widget .task-list  li > .task-bell  {
  margin-left:10px;
}

.tasks-widget .task-list  li > .task-checkbox {
	float:left;
	width:30px;
}

.tasks-widget .task-list  li > .task-title  {
  overflow:hidden;
  margin-right:10px;
}

.tasks-widget .task-list  li > .task-config {
	position:absolute;
	top:10px;
	right:10px;
}

.tasks-widget .task-list  li .task-title .task-title-sp  {
	font-size: 1.2em;
  	font-weight: bolder;
  	margin-right:5px;
}

.tasks-widget .task-list  li.task-done .task-title-sp  {
  text-decoration:line-through;
  color: #bbbbbb;
}

.tasks-widget .task-list  li.task-done  {
  background:#f6f6f6;
}

.tasks-widget .task-list  li.task-done:hover {
  background:#f4f4f4;
}

.tasks-widget .task-list  li:hover  {
  background:#f9f9f9;
}

.tasks-widget .task-list  li .task-config {
  display:none;
}

.tasks-widget .task-list  li:hover > .task-config {
  display:block;
  margin-bottom:0 !important;
}


@media only screen and (max-width: 320px) {

	.tasks-widget .task-config-btn {
		float:inherit;
		display:block;
	}
	
	.tasks-widget .task-list-projects li > .label {
		margin-bottom:5px;
	}

}

/*todolist*/

.task-list {
    list-style-type: none;
    margin: 0 0 20px 0;
    padding: 0;
    width: 100%;
}
.task-list li {
    padding-left: 3em;
    font-size: 12px;
}
.task-list li i {
    position: absolute;
    left:6px;
    padding:4px 10px 0 10px;
    cursor: pointer;
}

.task-list li input[type=checkbox]{
    margin-top: 0;
}

.ui-sortable > li {
    padding: 15px 0 15px 35px !important ;
    position: relative;
    background: #f5f6f8;
    margin-bottom: 2px;
    border-bottom   : none !important;
}

.ui-sortable li.list-primary {
    border-left: 3px solid #158cba;
}

.ui-sortable li.list-success {
    border-left: 3px solid #28b62c;
}

.ui-sortable li.list-danger {
    border-left: 3px solid #ff4136;
}

.ui-sortable li.list-warning {
    border-left: 3px solid #ff851b;
}

.ui-sortable li.list-info {
    border-left: 3px solid #75caeb;
}

.ui-sortable li.list-inverse {
    border-left: 3px solid #999999;
}

/* Calendar CSS */

td.date-selected{
  background-color: #a9dded !important;
}

/* Panel Tool */

.panel-heading .panel-tools {
  position: absolute;
  right: 30px;
  top: 30px;
}

.btn-panel-tool {
  padding: 5px;
  font-size: 12px;
  background: transparent;
  box-shadow: none!important;
  color: #97a0b3;
}

/* icon box */

.addtoken{
  display: block;
  float: left;
  height: 20px;
  width: 100%;
  text-align: center;
  font-size: 15px;
  line-height: 20px;
}

.token-box-icon {
  display: block;
  float: left;
  height: 60px;
  width: 100%;
  text-align: center;
  font-size: 35px;
  line-height: 60px;
  margin-bottom: 5px;
}

.token-box-icon .count-asig{
  position: absolute;
  font-size: 15px;
  background-color: #777;
  padding-left: 3px;
  padding-right: 3px;  
  line-height: 15px;
}

.bg-aqua{
  background-color: #75caeb !important;
  color: #ffffff;
}

.bg-green{
  background-color: #28b62c !important;
  color: #ffffff;
}

.bg-orange{
  background-color: #ff851b !important;
  color: #ffffff;
}

.bg-yellow{
  background-color: #F3E812 !important;
  color: #ffffff;
}

.bg-red{
  background-color: #ff4136 !important;
  color: #ffffff;
}

.bg-blue{
  background-color: #158cba !important;
  color: #ffffff;
}

.bg-purple{
  background-color: #75caeb !important;
  color: #ffffff;
}

.disable{
  background-color: #ccc;
  color: #ffffff;
}