!!!
%html
  %head
    %title TaskKiller
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          %a.navbar-brand{:href => '/'} TaskKiller
          %button.navbar-toggle{"data-target" => "#navbar-main", "data-toggle" => "collapse", :type => "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        #navbar-main.navbar-collapse.collapse
          %ul.nav.navbar-nav
            %li
              %a{:href => "#"} About
            %li
              %a{:href => "#"} Help
          %ul.nav.navbar-nav.navbar-right
            - if user_signed_in?
              %li.dropdown
                %a#themes.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  %strong= current_user.email
                  %span.caret
                %ul.dropdown-menu{"aria-labelledby" => "themes"}
                  %img.img-thumbnail{:alt => "Thumbnail Image", :src => current_user.avatar.url}/
                  %li= link_to 'Edit profile', edit_user_registration_path
                  %li= link_to "Logout", destroy_user_session_path, method: :delete
            - else
              %li= link_to "Sign up", new_user_registration_path
              %li= link_to "Login", new_user_session_path
    - if notice
      .alert.alert-dismissible.alert-success
        %button.close{"data-dismiss" => "alert", "type" => "button"} x
        %strong= notice
    - if alert
      .alert.alert-danger.alert-dismissible
        %button.close{"data-dismiss" => "alert", "type" => "button"}x
        %strong= alert
    .container
      = yield
    = Gon::Base.render_data({})
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = yield :custom_js