.bs-docs-section
  .row
    .col-lg-12
      .page-header
        %h1#forms Actualiza tus Datos
  .row
    .col-lg-6
      .well.bs-component
        = form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-horizontal new_user'}) do |f|
          = devise_error_messages!
          %fieldset
          .form-group
            = f.label :email, class: 'col-lg-2 control-label', for: 'user_email'
            .col-lg-10
              = f.email_field :email, autofocus: true, class: 'form-control'
          .form-group
            = f.label :'Nuevo Password', class: 'col-lg-2 control-label', for: 'user_password'
            .col-lg-10
              = f.password_field :password, autocomplete: "off", class: 'form-control', placeholder:'Opcional'
          .form-group
            = f.label :'Confirmar Password', class: 'col-lg-2 control-label', for: 'user_password_confirmation'
            .col-lg-10
              = f.password_field :password_confirmation, autocomplete: "off", class: "form-control"
          .form-group
            = f.label :'Password', class: 'col-lg-2 control-label'
            .col-lg-10
              = f.password_field :current_password, autocomplete: "off", class: 'form-control'
          .form-group
            = f.label :time_zone, class: 'col-lg-2 control-label', for: "time_zone"
            .col-lg-10
              = f.time_zone_select :time_zone, nil, {}, {:class => 'form-control'}
          .form-group
            = f.label :avatar, class: 'col-lg-2 control-label', for: "avatar"
            .col-lg-10
              = f.file_field :avatar, class: 'form-control'
          .form-group
            .col-lg-10.col-lg-offset-2
              = f.submit class: 'btn btn-primary'
      %h3 Cancelar mi cuenta
  Unhappy? #{button_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
= link_to "Back",:back
