.bs-docs-section
  .row
    .col-lg-12
      .page-header
        %h1#forms Registra tus datos
  .row
    .col-lg-6
      .well.bs-component
        = form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-horizontal new_user'}) do |f|
          = devise_error_messages!
          %fieldset
            %legend Legend
            .form-group
              = f.label :email, class: 'col-lg-2 control-label', for: "user_email"
              .col-lg-10
                = f.email_field :email, autofocus: true, class: 'form-control'
            .form-group
              = f.label :password, class: 'col-lg-2 control-label', for: "user_password"
              .col-lg-10
                = f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'min 8 caracteres'
            .form-group
              = f.label :password_confirmation, class: 'col-lg-2 control-label', for: "user_password_confirmation" 
              .col-lg-10
                = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'
            .form-group
              = f.label :avatar, class: 'col-lg-2 control-label', for: "avatar"
              .col-lg-10
                = f.file_field :avatar, class: 'form-control'
            .form-group
              .col-lg-10.col-lg-offset-2
                = f.submit class: 'btn btn-primary', value: "Registrarse"    
                .btn.btn-default=link_to "Login", new_user_session_path, as: resource_name